.header-fixed {
  background: url('/images/wdiconf_bg_mini.jpg');
}

#Location {
  background: url('/images/melbourne_mini.jpg') no-repeat center center;
}

#Sponsors {
  background: url('/images/geometry.png');
}

.individual-img-dt {
  background: url('/images/dt.jpg')no-repeat center center;
}

.individual-img-msw {
  background: url('/images/msw.jpg')no-repeat center center;
}
